body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
}
.header {
    background-color:  #21C08B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
width: 200px;
margin-top: 10px;
margin-left: 35px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li {
    margin: 10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
    text-decoration: underline;
}
.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
} 
.header__menu--profile p{
    margin: 0px;
    color: white;
}   
.error{
    background: linear-gradient(#21C08B, #8F57FD);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 180px);
}
.error__number{
    display: flex;
    justify-content: center;
    margin:0px;
    font-size: 80px;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both ;
    animation-iteration-count: infinite;
}
.error__number--pag{
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0;
}

.footer{
    background-color: #8F57FD;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
@keyframes pulse{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}